<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/11/25/node_898434/49696443/public/2020/11/25/B9725349392Z.1_20201125171917_000%2BGQAH23DDL.2-0.jpg?itok=J3Kv4wud1607439600);">
  <div class="container">
    <h1>Welcome to <strong>Ambleteuse</strong> !</h1>
  </div>
</div>
